.alert-success {
    background-color: green;
}

.alert-warning {
    background-color: yellow;
    color: black;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: #3d4c55;}
nav li a{color: white}
body{
    background-color: #35424a;
    color: white

}