.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: #35424a;}
nav li a{color: white}
input{border-radius: 50%;}
body{
    background-color: #35424a;
    color: white

}